menu "soft i2c based on gpio config"


config SOFT_I2C0_EN
    bool "soft i2c0 enable"

config SOFT_I2C0_ID
    int "device id for i2c0"
    depends on SOFT_I2C0_EN

config SOFT_I2C0_SCL
    int "scl pin"
    depends on SOFT_I2C0_EN

config SOFT_I2C0_SDA
    int "sda pin"
    depends on SOFT_I2C0_EN


endmenu