menu "devices"
depends on I2C_EN

config I2C_STM32F429
    bool "i2c-stm32f429"
    depends on $(MARCH)="stm32f429"
    default n

config SI2C_EN
    bool "soft i2c enable"
    depends on GPIO_EN

if SI2C_EN
    source "drivers/bus/i2c/devices/i2c-soft.config"
endif

config I2C_ZYNQ
    bool "i2c-zynq"
    depends on $(MARCH)="zynq7000"
    default n

if I2C_ZYNQ
    source "drivers/bus/i2c/devices/i2c-zynq.config"
endif

endmenu
