menu "devices"
depends on I2C_EN

config I2C_STM32F429
    bool "i2c-stm32f429"
    depends on $(MARCH)="stm32f429"
    default n


config I2C_ZYNQ
    bool "i2c-zynq"
    depends on $(MARCH)="zynq7000"
    default n

endmenu
