#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "ThunderLib $(SDK_VERSION) Configuration for $(MARCH) ($(ARCH) $(CPU))"

menu "Build Config"

config CROSS_COMPILE
	string "Compiler"
	default "arm-none-eabi-"


endmenu

source "$(TOPDIR)/arch/$(ARCH)/$(CPU)/$(MARCH)/boards/Kconfig"
source "kernel/Kconfig"
source "drivers/Kconfig"
source "packages/gui/lvgl/Kconfig"