
config LINK_RAM_BASE
	hex "ram base address"
	default 0x20000000

config LINK_RAM_SIZE
    hex "ram size"
    default 0x30000

config STACK_SIZE
    hex "stack size"
    default 0x400

config HEAP_SIZE
    hex "heap size"
    default 0x2000
