
#
# Platform Config
#
CONFIG_CROSS_COMPILE="arm-none-eabi-"
# end of Platform Config

#
# Select Target Board
#
CONFIG_MagicBox=y
# CONFIG_Lite7020 is not set
# end of Select Target Board

#
# kernel
#
CONFIG_KERNEL_EN=y
# end of kernel

#
# drivers
#

#
# bus
#

#
# serial
#
CONFIG_SERIAL_EN=y

#
# devices
#
# CONFIG_SERIAL_STM32F429 is not set
CONFIG_SERIAL_ZYNQ=y
# end of devices
# end of serial

#
# i2c
#
CONFIG_I2C_EN=y

#
# devices
#
# CONFIG_I2C_STM32F429 is not set
CONFIG_I2C_ZYNQ=y
# end of devices
# end of i2c

#
# spi
#
CONFIG_SPI_EN=y

#
# devices
#
# CONFIG_SPI_STM32F429 is not set
CONFIG_SPI_ZYNQ=y
# end of devices
# end of spi
# end of bus

#
# dma
#
CONFIG_DMA_EN=y

#
# dma devices
#
# CONFIG_DMA_STM32F429 is not set
CONFIG_DMA_ZYNQ7000=y
# CONFIG_AXI_DMA is not set
# end of dma devices
# end of dma

#
# gpio
#
CONFIG_GPIO_EN=y

#
# gpio devices
#
# CONFIG_GPIO_STM32F429 is not set
CONFIG_GPIO_ZYNQ7000=y
# end of gpio devices
# end of gpio

#
# interrupt
#
CONFIG_INTERRUPT_EN=y

#
# interrupt devices
#
# CONFIG_INTERRUPT_STM32F429 is not set
CONFIG_INTERRUPT_ZYNQ7000=y
# end of interrupt devices
# end of interrupt

#
# timer
#
CONFIG_TIMER_EN=y

#
# timer devices
#
# CONFIG_TIMER_STM32F429 is not set
CONFIG_TIMER_ZYNQ7000=y
# end of timer devices
# end of timer

#
# pwm
#
CONFIG_PWM_EN=y

#
# interrupt devices
#
CONFIG_AXI_PWM=y
# end of interrupt devices
# end of pwm

#
# tty
#
CONFIG_TTY_EN=y
# end of tty
# end of drivers
