menu "kernel devices"
depends on KERNEL_EN

config KERNEL_STM32F429
    bool "interrupt-stm32f429"
    depends on $(MARCH)="stm32f429"
    default n
    

config KERNEL_ZYNQ7000
    bool "interrupt-zynq7000"
    depends on $(MARCH)="zynq7000"
    default n
    


config ZYNQ7000_CPUS
    depends on KERNEL_ZYNQ7000
	int "number of cpus 0f zynq7000"
	default 2


endmenu
