
#
# Build Config
#
CONFIG_CROSS_COMPILE="arm-none-eabi-"
CONFIG_LINK_RAM_BASE=0XC0000000
CONFIG_LINK_RAM_SIZE=0x2000000
CONFIG_STACK_SIZE=0x400
CONFIG_HEAP_SIZE=0x2000
# end of Build Config

CONFIG_ThunderBoards32=y

#
# kernel
#
CONFIG_KERNEL_EN=y

#
# kernel devices
#
CONFIG_KERNEL_STM32F429=y
# end of kernel devices
# end of kernel

#
# drivers
#

#
# bus
#

#
# serial
#
CONFIG_SERIAL_EN=y

#
# devices
#
CONFIG_SERIAL_STM32F429=y
# end of devices
# end of serial

#
# i2c
#
CONFIG_I2C_EN=y

#
# devices
#
# CONFIG_I2C_STM32F429 is not set
CONFIG_SI2C_EN=y

#
# soft i2c based on gpio config
#
CONFIG_SOFT_I2C0_EN=y
CONFIG_SOFT_I2C0_ID=0
CONFIG_SOFT_I2C0_SCL=45
CONFIG_SOFT_I2C0_SDA=46
# end of soft i2c based on gpio config
# end of devices
# end of i2c

#
# spi
#
CONFIG_SPI_EN=y

#
# devices
#
CONFIG_SPI_STM32F429=y

#
# stm32f429-spi config
#
CONFIG_STM32_SPI1_EN=y
CONFIG_STM32_SPI2_EN=y
CONFIG_STM32_SPI3_EN=y
CONFIG_STM32_SPI4_EN=y
# end of stm32f429-spi config
# end of devices
# end of spi
# end of bus

#
# dma
#
CONFIG_DMA_EN=y

#
# dma devices
#
CONFIG_DMA_STM32F429=y
# end of dma devices
# end of dma

#
# gpio
#
CONFIG_GPIO_EN=y

#
# gpio devices
#
CONFIG_GPIO_STM32F429=y
# end of gpio devices
# end of gpio

#
# interrupt
#
CONFIG_INTERRUPT_EN=y

#
# interrupt devices
#
CONFIG_INTERRUPT_STM32F429=y
# end of interrupt devices
# end of interrupt

#
# timer
#
CONFIG_TIMER_EN=y

#
# timer devices
#
CONFIG_TIMER_STM32F429=y
# end of timer devices
# end of timer

#
# pwm
#
CONFIG_PWM_EN=y

#
# pwm devices
#
# end of pwm devices
# end of pwm

#
# tty
#
CONFIG_TTY_EN=y
# end of tty

#
# sensors
#
# end of sensors

#
# mtd
#
# CONFIG_AT24CXX is not set
CONFIG_SPI_FLASH=y
# end of mtd

#
# video
#

#
# FrameBuffer
#
CONFIG_FB_EN=y
# end of FrameBuffer
# end of video

#
# iio
#
# CONFIG_IIO_EN is not set
# end of iio
# end of drivers

#
# packages
#
# CONFIG_GUI_EN is not set
# end of packages
