
#
# Build Config
#
CONFIG_CROSS_COMPILE="arm-none-eabi-"
# end of Build Config

#
# Select Target Board
#
CONFIG_ThunderBoards32=y
# end of Select Target Board

#
# kernel
#
# CONFIG_KERNEL_EN is not set
# end of kernel

#
# drivers
#

#
# bus
#

#
# serial
#
CONFIG_SERIAL_EN=y

#
# devices
#
CONFIG_SERIAL_STM32F429=y
# end of devices
# end of serial

#
# i2c
#
CONFIG_I2C_EN=y

#
# devices
#
CONFIG_I2C_STM32F429=y
# end of devices
# end of i2c

#
# spi
#
CONFIG_SPI_EN=y

#
# devices
#
CONFIG_SPI_STM32F429=y
# end of devices
# end of spi
# end of bus

#
# dma
#
CONFIG_DMA_EN=y

#
# dma devices
#
CONFIG_DMA_STM32F429=y
# end of dma devices
# end of dma

#
# gpio
#
CONFIG_GPIO_EN=y

#
# gpio devices
#
CONFIG_GPIO_STM32F429=y
# end of gpio devices
# end of gpio

#
# interrupt
#
CONFIG_INTERRUPT_EN=y

#
# interrupt devices
#
CONFIG_INTERRUPT_STM32F429=y
# end of interrupt devices
# end of interrupt

#
# timer
#
CONFIG_TIMER_EN=y

#
# timer devices
#
CONFIG_TIMER_STM32F429=y
# end of timer devices
# end of timer

#
# pwm
#
CONFIG_PWM_EN=y

#
# pwm devices
#
# end of pwm devices
# end of pwm

#
# tty
#
CONFIG_TTY_EN=y
# end of tty

#
# sensors
#
# end of sensors
# end of drivers
