
menu "drivers"

source "drivers/bus/Kconfig"
source "drivers/dma/Kconfig"
source "drivers/gpio/Kconfig"
source "drivers/interrupt/Kconfig"
source "drivers/timer/Kconfig"
source "drivers/pwm/Kconfig"
source "drivers/tty/Kconfig"

menu "sensors"

source "drivers/sensors/Kconfig"

endmenu

source "drivers/mtd/Kconfig"

menu "video"
source "drivers/video/Kconfig"
endmenu

source "drivers/iio/Kconfig"
endmenu
