frontends/conf/*.deps
frontends/conf/*.libs
frontends/conf/*.dirstamp
frontends/conf/*.o
frontends/conf/kconfig-*

frontends/gconf/*.deps
frontends/gconf/*.libs
frontends/gconf/*.glade
frontends/gconf/*.o
frontends/gconf/kconfig-*


frontends/mconf/*.deps
frontends/mconf/*.libs
frontends/mconf/*.dirstamp
frontends/mconf/*.o
frontends/mconf/kconfig-*

frontends/nconf/*.deps
frontends/nconf/*.libs
frontends/nconf/*.dirstamp
frontends/nconf/*.o
frontends/nconf/kconfig-*

frontends/qconf/*.deps
frontends/qconf/*.libs
frontends/qconf/*.dirstamp
frontends/qconf/*.o
frontends/qconf/kconfig-*