menu "timer devices"
depends on TIMER_EN

config TIMER_STM32F429
    bool "timer-stm32f429"
    depends on $(MARCH)="stm32f429"
    default n

config TIMER_ZYNQ7000
    bool "timer-zynq7000"
    depends on $(MARCH)="zynq7000"
    default n

endmenu
